{{#each books}}

<a href="/books/details/{{this._id}}">
  <h2>
    {{this.title}}
  </h2>
</a>

<a href="/books/edit-book/{{this._id}}">Edit Book</a>
<br>
<br>
<form action="/books/delete/{{this._id}}" method="POST">
<button>Delete Book</button>
</form>

{{/each}}
