<h2>Add a New Book To The Library</h2>

<form action="/books/creation" method="POST">


<p>Title</p>
<input type="text" name="theTitle">

<p>Author</p>
<input type="text" name="theAuthor">

<p>Cover Art URL</p>
<input type="text" name="theImage">

<button>Save</button>


</form>